<div class="flex h-screen">
  <!-- Sidebar -->
  <div
    class="sidebar bg-black text-white w-64 flex flex-col space-y-6 p-4 fixed h-full"
  >
    <div class="flex items-left justify-between mb-6">
      <div class="flex items-center space-x-2">
        <img
          src="assets/favicon.ico"
          alt="Profile Logo"
          class="w-8 h-8 rounded-full"
        />
        <span class="font-bold text-lg">InstaFlow</span>
      </div>
    </div>

    <!-- Home Button -->
    <button
      [routerLink]="['/home']"
      routerLinkActive="bg-red-600"
      class="py-2 px-4 rounded-md hover:bg-[#e1306c] text-left font-medium flex items-center space-x-2"
    >
      <i class="fa fa-home text-lg"></i>
      <span>Home</span>
    </button>

    <!-- Feed Button -->
    <button
      [routerLink]="['/feed']"
      routerLinkActive="bg-red-600"
      class="py-2 px-4 rounded-md hover:bg-[#e1306c] text-left font-medium flex items-center space-x-2"
    >
      <i class="fa fa-list text-lg"></i>
      <span>Your Feed</span>
    </button>

    <!-- Create Post Button -->
    <button
      [routerLink]="['/create']"
      routerLinkActive="bg-red-600"
      class="py-2 px-4 rounded-md hover:bg-[#e1306c] text-left font-medium flex items-center space-x-2"
    >
      <i class="fa fa-plus-circle text-lg"></i>
      <span>Create Post</span>
    </button>

    <!-- Logout Button -->
    <button
      class="py-2 px-4 rounded-md hover:bg-[#e1306c] text-left font-medium flex items-center space-x-2"
      (click)="confirmLogout()"
    >
      <i class="fa fa-sign-out-alt text-lg"></i>
      <span>Logout</span>
    </button>
  </div>

  <!-- Main Content -->
  <div class="flex-1 bg-[#e7e5e4] ml-64 overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
